@import url('./reset.css');

.input {
  margin: 20px;
}
.timer {
  display: flex;

  margin-bottom: 300px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 35px;

  margin-left: 20px;
}
.label {
  margin-left: 20px;
  text-transform: uppercase;
}
